<!-- BEGIN:main -->
<html>

<head>
  <style>

    @page {
  margin-top: 200px !important;
  margin-bottom: 55px !important;
  margin-left: 50px !important;
  margin-right: 50px !important;
}
    #header { position: fixed; left: 0px; top: -250px; right: 0px; }
    #footer { position: fixed; left: 0px; bottom: -5px; right: 0px; height: 2px;  }

    #footer .page:after { content: counter(page);  }
    #content { page-break-after: auto;}
    #divPacks { page-break-before: always;}
    #divCombos { page-break-before: always;}
  </style>
  </head>
<body>
  <div id="header">
    <table>
	<tr>
	<td width="450px">

		<p style="font-size:22pt;font-weight: bold;">{fecha}</p>
        <p style="font-size:14pt;font-weight: bold;">Listado de Socios {filtro}</p>
        <p style="font-size:14pt;font-weight: bold;">{entreFechas}</p>

	</td>
        <td width="300px">
            <p style="font-size:12pt;">
                <img border="0" alt="logo" name="imLogo" id="imLogo" style="margin-top: 5px;"  src="{APP_PATH}css/images/cabecera_pdf.jpg">
                {img}
        </td>
	</tr>

</table>

  </div>
  <div id="footer" style="padding-top: 10px; border-top: 1px solid #ddd; font-size:13px; color: #333; margin-top: 20px;">

    <table>
			<tr>
			<td width="580px">
                Unión Social Arbolito
			</td>

			<td width="120px" align="right">

				<p class="page">P&aacute;gina </p>

			</td>

			</tr>

		</table>
  </div>
  <div id="content">
  	<hr />

<div class="box_details">

	<!-- BEGIN:clientes -->

	<table cellspacing="0" cellpadding="0" border="1">

		<tr><th>{lbl_nroSocio}</th><th>{lbl_cliente}</th><th>{lbl_tipoCliente}</th><th>{lbl_documento}</th><th>{lbl_telefono}</th><th>{lbl_domicilio}</th><th>{lbl_nacimiento}</th></tr>

			<!-- BEGIN:detalle -->
			<tr><td width="80px" style="text-align: right;">{nroSocio}</td><td width="200px">{cliente}</td><td>{tipoCliente}</td><td>{documento}</td><td>{telefono}</td><td>{domicilio}</td><td>{nacimiento}</td></tr>
			<!-- END:detalle -->


	</table>

	<!-- END:clientes -->

</div>

  </div>
</body>
</html>
<!-- END:main -->
