<!-- BEGIN:main -->
<html>

<head>

</head>
<body>



<table>
	<tr>
		<td colspan="5">
			<span style="font-size:16pt;font-weight: bold;">{fecha}</span>
		</td>
	</tr>
	<tr>
		<td colspan="5">
			<span style="font-size:16pt;font-weight: bold;">Ventas/Cuotas</span>
		</td>
	</tr>
	<tr>
		<td colspan="5">
			<span style="font-size:16pt;font-weight: bold;">{entreFechas}</span>
		</td>
	</tr>
	<tr>
		<td colspan="5">
			<span style="font-size:16pt;font-weight: bold;">{filtros}</span>
		</td>
	</tr>
</table>


<!-- BEGIN:ventas -->

<table cellspacing="0" cellpadding="0" border="1">

	<tr><th>{lbl_fecha}</th><th>{lbl_nroComprobante}</th><th>{lbl_cliente}</th><th>{lbl_detalles}</th><th>{lbl_monto}</th><th>{lbl_montoPagado}</th><th>{lbl_montoDebe}</th><th>{lbl_observaciones}</th><th>{lbl_estado}</th></tr></thead>

	<!-- BEGIN:detalle -->
	<tr><td width="80px">{fechaHora}</td><td>{nroComprobante}</td><td>{cliente}</td><td>{detalles}</td><td style="text-align: right;">{monto}</td><td style="text-align: right;">{montoPagado}</td><td style="text-align: right;">{montoDebe}</td><td>{observaciones}</td><td>{estado}</td></tr>
	<!-- END:detalle -->


</table>

<!-- END:ventas -->


</body>
</html>
<!-- END:main -->
